
streamlit
python-dotenv
streamlit_option_menu 
streamlit_chat
africastalking
openai
requests
folium
google-generativeai
streamlit-folium
streamlit-stl
openrouteservice
geopy
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
bcrypt
python-dotenv
chromadb
faiss-cpu
pypdf
google-genai
st-social-media-links
plotly
pandas
overpy
